</div>
</div>
<footer><p class="text-center text-muted">&copy; Copyright 2023 Trade2Win</p>
</footer>
    <!-- JS (load bootstrap from a CDN)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
</body>
</html>
