<!-- This imports the style.css file -->
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

<!-- This adds a link to the "/" URL route -->
<a href="/">Home</a>

<!-- This displays the message that was provided in the input object -->
<h1>Message: <%= message %></h1>
