body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f5f5f5;
}

footer {
  margin-top: auto;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #2577b1;
  text-decoration: none; /* removes the underline */
}

a:hover {
  text-decoration: underline; /* adds underline on hover */
}

a.no-color-change,
a.no-color-change:visited,
a.no-color-change:hover,
a.no-color-change:active {
  color: inherit; /* inherits the color from the parent element */
}

/* Override color for navbar links */
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:visited,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:active {
  color: #fff; /* white color */
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Custom CSS to change the table header background color */
.table th.t2w-thbg {
  background-color: #a40000;
  color: white;
}

.table td.t2w-thbg {
  background-color: #a40000;
  color: white;
}

.table td.t2w-bg {
  background-color: #edf6fd;
  color: black;
}

.table td.bg-gold {
  background-color: #ffd700;
  color: black;
}

.table td.bg-silver {
  background-color: #c0c0c0;
  color: black;
}

.table td.bg-bronze {
  background-color: #cd7f32;
  color: black;
}

.text-danger {
  color: red;
}

.fw-bold {
  font-weight: bold;
}

.nowrap {
  white-space: nowrap;
}
