body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

/* Custom CSS to change the table header background color */
.table th.t2w-bg {
  background-color: #a40000;
  color: white;
}

.table td.bg-gold {
  background-color: #ffd700;
  color: black;
}

.table td.bg-silver {
  background-color: #c0c0c0;
  color: black;
}

.table td.bg-bronze {
  background-color: #cd7f32;
  color: black;
}

.text-danger {
  color: red;
}

.fw-bold {
  font-weight: bold;
}
