<%- include('../partials/header', {user: user}); %>
<h1>Login to Trade2Win S&P500</h1>
<form action="/auth/provider" method="get">
  <button type="submit">Login with Trade2Win</button>
</form>
<%- include('../partials/footer'); %>
