<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Predict where the S&P500 will finish in the coming week:</h1>
    <form action="/submit" method="POST">
      <input type="text" name="prediction" placeholder="Prediction" />
      <input type="submit" value="OK" />
    </form>
  </body>
</html>
